# Accounts_bare_person.config

# Label for the job that will be displayed
JOBDESC:Process Accounts (Person accounts fldset 1)

#The object we're dealing with (as in the local database)
OBJECT:account

#The SF object we're dealing with (as in the SF org)
ENTITY:Account

# The file where data exported from source org will be placed
#FILENAME:%BASEFILEDIR%account\account_fldset1_person_1item.csv
FILENAME:%BASEFILEDIR%account\account_dep_person.csv


#Fields that will be extracted from source org and loaded into local database
FIELDSTRING:

# The SOQL that will be used to run the extraction from source org to populate FILENAME (must contain the same fields, no more no less, as FIELDSTRING)
#SOQL:SELECT Id, Name, recordtypeid, Distributor__pc, Hospital_Discharge_Account__pc, Master_Account__pc, Movex_DTC_Account__pc, Movex_Samples_Account__pc, NPD_Rep__pc FROM Account  WHERE ispersonaccount IN (true)  AND (Hospital_Discharge_Account__pc <> null OR Distributor__pc<> null OR Master_Account__pc<> null OR Movex_DTC_Account__pc<> null OR Movex_Samples_Account__pc<> null OR NPD_Rep__pc<> null) AND (recordtypeid IN ( '01220000000D69xAAC', '01220000000D6BuAAK', '01220000000AHPHAA4', '01220000000AJ4OAAW', '01220000000AHphAAG', '01220000000AHpcAAG', '01220000000D6C3AAK', '01220000000D6C8AAK', '012200000000DPKAA2', '01220000000A9aVAAS', '01220000000A9aaAAC', '012200000000DPFAA2', '01220000000D6C4AAK', '01220000000D6C5AAK', '01220000000D69dAAC', '01220000000DAwbAAG') OR Product_Area__c in ('Surgery','Urology')) ORDER BY id
SELECT Id, Name, recordtypeid, Distributor__pc, Hospital_Discharge_Account__pc, Master_Account__pc, Movex_DTC_Account__pc, Movex_Samples_Account__pc, NPD_Rep__pc FROM Account  WHERE ispersonaccount IN (true) ORDER BY id
BULKAPI:true
BATCHSIZE:5000
#LIMIT:LIMIT 100

# the fields (which must be present in FIELDSTRING and SOQL) that will be remapped to new IDs using the mapping table in the local database
FIELDSTOREMAP:

# The file where remapped data exported from the local db will be placed to be loaded into target org
MAPPEDFILENAME:


# The file where any mappings that need to be updated using FART reside
FARTMAPPING:%MAPPINGDIR%\recordtypemapping_account.config

# The mapping file required by the Apex Data Loader for insert/upsert operations
SFMAPPINGFILE:account_import.sdl

# The SOQL that will be used to extract mapping data (Id, OldId__c, a label field for convenience) from the target org
# E.g. the MAPPINGSOQL=SELECT Id, oldid__c, name FROM account would generate entries like oldid# 0012000001ALLIa Id# 0012000001xaCxb tablekey# account_Jack Papadakis DDS
# in the mapping table in the database. The name field (third item in SELECT list need not be unique, but must be provided)
MAPPINGSOQL:

# The file which will be populated from the target org using the MAPPINGSOQL
OLDNEWIDFILENAME:

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Do any remaps required on local file
# Uses FILENAME, FARTMAPPING
FARTMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0
UPS:0

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database
EXPMAP:0