# Contacts_bare.config

FILENAME:%BASEFILEDIR%contact\contact.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM contact
OBJECT:contact
JOBDESC:Process contact_bare
FIELDSTRING:id, firstname, lastname, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate
SOQL:select id, firstname, lastname, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate from contact where ispersonaccount=false 
#SOQL:select id, firstname, lastname, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate from contact where ispersonaccount=false and (Product_Area__c in ('Surgery','Urology') or recordtypeid in ('01220000000D6A7AAK', '01220000000D6ACAA0'))

UNLOADWHERE:where ownerid in (select wellspectid from mapping_master) and createdbyid in (select wellspectid from mapping_master) and lastmodifiedbyid in (select wellspectid from mapping_master) and recordtypeid in (select wellspectid from mapping_master)

BULKAPI:true
BATCHSIZE:5000
#LIMIT:LIMIT 100


OLDNEWIDFILENAME:%BASEFILEDIR%contact\contact_mapping.csv
ENTITY:Contact
FIELDSTOREMAP:createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME:%BASEFILEDIR%contact\contact_remapped.csv
SFMAPPINGFILE:contact_import_bare.sdl

# The file where any mappings that need to be updated using FART reside
FARTMAPPING:%MAPPINGDIR%\recordtypemapping_contact.config


EXP:0
TRUNC:0
FARTMAP:0
LOADPGSQL:0
REMAP:0
UNLOADPGSQL:1
IMP:1
UPS:0
EXPMAP:0

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
#EXP:1

# Truncate table in local database
# Uses OBJECT
#TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
#LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
#REMAP:1

# Do any remaps required on local file
# Uses FILENAME, FARTMAPPING
#FARTMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
#UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
#IMP:1

