# opportunitys_bare.config

FILENAME:%BASEFILEDIR%opportunity\opportunity.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM opportunity
OBJECT:opportunity
JOBDESC:Process opportunity_bare
FIELDSTRING:id, firstname, lastname, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate
SOQL:select id, firstname, lastname, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate from opportunity where ispersonaccount=false

OLDNEWIDFILENAME:%BASEFILEDIR%opportunity\opportunity_mapping.csv
ENTITY:opportunity
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME:%BASEFILEDIR%opportunity\opportunity_remapped.csv
SFMAPPINGFILE:opportunity_import_bare.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0