# campaigns_bare.config

FILENAME:%BASEFILEDIR%campaign\campaign.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM campaign
OBJECT:Campaign
JOBDESC:Process campaign_bare
FIELDSTRING:id, name, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate
#SOQL:select id, name, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate from campaign WHERE Product_Area__c in ('Surgery','Urology','Urology (UK)')
SOQL:select id, name, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate from campaign

OLDNEWIDFILENAME:%BASEFILEDIR%campaign\campaign_mapping.csv
ENTITY:Campaign
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME:%BASEFILEDIR%campaign\campaign_remapped.csv
SFMAPPINGFILE:campaign_import_bare.sdl

BULKAPI:true
BATCHSIZE:5000
#LIMIT:LIMIT 100


# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:1