# Location_bare.config

FILENAME:%BASEFILEDIR%Location__c\location.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM Location_c
OBJECT:Location__c
JOBDESC:Process Location_bare
FIELDSTRING:Id, Account_Site__c, Account__c, Contact__c, CreatedById, CreatedDate, CurrencyIsoCode, Description__c,  LastModifiedById, LastModifiedDate, Location_Movex__c,  Preferred_Days__c, Preferred_Hours__c, Product_Area__c, Profession_U__c, Profession__c, RecordTypeId, Therapy_Area_U__c, User_Country__c
FIELDSTRINGEXPORT:Id, Account_Site__c, Contact__c, CreatedById, CreatedDate, CurrencyIsoCode, Description__c,  LastModifiedById, LastModifiedDate, Location_Movex__c,  Preferred_Days__c, Preferred_Hours__c, Product_Area__c, Profession_U__c, Profession__c, Therapy_Area_U__c, User_Country__c, CAST(RecordTypeId AS varchar(18)), CAST(Account__c AS varchar(18))
SOQL:Select Id, Account_Site__c, Account__c, Contact__c, CreatedById, CreatedDate, CurrencyIsoCode, Description__c,  LastModifiedById, LastModifiedDate, Location_Movex__c,  Preferred_Days__c, Preferred_Hours__c, Product_Area__c, Profession_U__c, Profession__c, RecordTypeId, Therapy_Area_U__c, User_Country__c FROM Location__c

UNLOADWHERE:where createdbyid in (select wellspectid from mapping_master WHERE tablekey like 'User%%') and lastmodifiedbyid in (select wellspectid from mapping_master WHERE tablekey like 'User%%')

OLDNEWIDFILENAME:%BASEFILEDIR%Location__c\location_mapping.csv
ENTITY:Location__c
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid

MAPPEDFILENAME:%BASEFILEDIR%Location__c\location_remapped.csv
SFMAPPINGFILE:Locations_import_all.sdl

# The file where any mappings that need to be updated using FART reside
FARTMAPPING:%MAPPINGDIR%\genericmapping.config

BULKAPI:true
BATCHSIZE:5000
#LIMIT:LIMIT 100

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Do any remaps required on local file
# Uses FILENAME, FARTMAPPING
FARTMAP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0