# Contact_Network_Member_bare.config

FILENAME:%BASEFILEDIR%Contact_Network_Member__c\6_contnetwmemb_extract.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM Contact_Network_Member__c
OBJECT:Contact_Network_Member__c
JOBDESC:Process Contact_Network_Member_bare
FIELDSTRING:Contact_Network_Member__c,CreatedById,CreatedDate,CurrencyIsoCode,Id,LastModifiedById,LastModifiedDate,Network__c,Response_ATN__c
SOQL:SELECT Contact_Network_Member__c,CreatedById,CreatedDate,CurrencyIsoCode,Id,LastModifiedById,LastModifiedDate,Network__c,Response_ATN__c FROM Contact_Network_Member__c

OLDNEWIDFILENAME:%BASEFILEDIR%Contact_Network_Member__c\Contact_Network_Member_mapping.csv
ENTITY:Contact_Network_Member__c
FIELDSTOREMAP:createdbyid lastmodifiedbyid

MAPPEDFILENAME:%BASEFILEDIR%Contact_Network_Member__c\Contact_Network_Member_remapped.csv
SFMAPPINGFILE:Contact_Network_Member_import_all.sdl

UNLOADWHERE:where createdbyid in (select wellspectid from mapping_master) and lastmodifiedbyid in (select wellspectid from mapping_master)

BULKAPI:true
BATCHSIZE:10000
#LIMIT:LIMIT 100


# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0
EXP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0