# Lead_bare.config

FILENAME:%BASEFILEDIR%Lead\Lead.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM Lead
OBJECT:Lead
JOBDESC:Process Lead_bare
FIELDSTRING:Id, Name, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, Country_Lead__c, LastName, ownerid
FIELDSTRINGEXPORT:Id, Name, CurrencyIsoCode, CAST(RecordTypeId AS varchar(18)), CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, Country_Lead__c, LastName, ownerid
SOQL:Select Id, Name, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, Country_Lead__c, LastName, ownerid FROM Lead

OLDNEWIDFILENAME:%BASEFILEDIR%Lead\lead_mapping.csv
ENTITY:Lead
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME:%BASEFILEDIR%Lead\lead_remapped.csv
SFMAPPINGFILE:Lead_all.sdl

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database
EXPMAP:1