# CampaignMember_bare.config

FILENAME:%BASEFILEDIR%CampaignMember\CampaignMember.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM CampaignMember
OBJECT:CampaignMember
JOBDESC:Process CampaignMember_bare
#FIELDSTRING:CampaignId, ContactId, CreatedById, CreatedDate, CurrencyIsoCode, Id, LastModifiedById, LastModifiedDate, LeadId, Status
#FIELDSTRINGEXPORT:campaignid, contactid, createdbyid, createddate, currencyisocode, id, lastmodifiedbyid, lastmodifieddate, leadid, status
#SOQL:SELECT CampaignId, ContactId, CreatedById, CreatedDate, CurrencyIsoCode, Id, LastModifiedById, LastModifiedDate, LeadId, Status FROM CampaignMember ORDER BY Id

FIELDSTRING:id, campaignid, contactid, createdbyid, createddate, currencyisocode, lastmodifiedbyid, lastmodifieddate, leadid, status, Additional_Information__c, Airport__c, Arrival_Flight__c, Arrival__c, Breakfast__c, Campaign_Member_E_mail__c, Course_Fee__c, Departure_Flight__c, Departure__c, Discount__c, Fully_Paid__c, Hotel_Arrangement_Status__c, Hotel_Check_In__c, Hotel_Check_Out__c, Hotel_Paid_by_Participant__c, Hotel__c, Payer_Movex_Account__c, Payment_By__c, Payment_Type__c, Rate_per_night__c, Special_Diet_Allergies__c, Transfer_Arranged_by_DI__c, Transfer_Details__c, Type__c, of_Guests_including_participant__c
FIELDSTRINGEXPORT:id, campaignid, contactid, createdbyid, createddate, currencyisocode, lastmodifiedbyid, lastmodifieddate, leadid, status, Additional_Information__c, Airport__c, Arrival_Flight__c, Arrival__c, Breakfast__c, Campaign_Member_E_mail__c, Course_Fee__c, Departure_Flight__c, Departure__c, Discount__c, Fully_Paid__c, Hotel_Arrangement_Status__c, Hotel_Check_In__c, Hotel_Check_Out__c, Hotel_Paid_by_Participant__c, Hotel__c, Payer_Movex_Account__c, Payment_By__c, Payment_Type__c, Rate_per_night__c, Special_Diet_Allergies__c, Transfer_Arranged_by_DI__c, Transfer_Details__c, Type__c, of_Guests_including_participant__c
SOQL:select id, campaignid, contactid, createdbyid, createddate, currencyisocode, lastmodifiedbyid, lastmodifieddate, leadid, status, Additional_Information__c, Airport__c, Arrival_Flight__c, Arrival__c, Breakfast__c, Campaign_Member_E_mail__c, Course_Fee__c, Departure_Flight__c, Departure__c, Discount__c, Fully_Paid__c, Hotel_Arrangement_Status__c, Hotel_Check_In__c, Hotel_Check_Out__c, Hotel_Paid_by_Participant__c, Hotel__c, Payer_Movex_Account__c, Payment_By__c, Payment_Type__c, Rate_per_night__c, Special_Diet_Allergies__c, Transfer_Arranged_by_DI__c, Transfer_Details__c, Type__c, of_Guests_including_participant__c from campaignmember ORDER BY Id
#SOQL:SELECT CampaignId, ContactId, CreatedById, CreatedDate, CurrencyIsoCode, Id, LastModifiedById, LastModifiedDate, LeadId, Status FROM CampaignMember ORDER BY Id

UNLOADWHERE:where createdbyid in (select wellspectid from mapping_master WHERE tablekey like 'User%%') and lastmodifiedbyid in (select wellspectid from mapping_master WHERE tablekey like 'User%%') and CampaignId in (select wellspectid from mapping_master WHERE tablekey like 'campaign_%%') and ContactId in (select wellspectid from mapping_master where tablekey like 'contact_%%') and (LeadId in (select wellspectid from mapping_master where tablekey like 'Lead_%%') or LeadId is NULL)

BULKAPI:false
BATCHSIZE:200
#LIMIT:LIMIT 100

OLDNEWIDFILENAME:%BASEFILEDIR%CampaignMember\CampaignMember_mapping.csv
ENTITY:CampaignMember
FIELDSTOREMAP:CampaignId ContactId lastmodifiedbyid CreatedById LeadId

MAPPEDFILENAME:%BASEFILEDIR%CampaignMember\CampaignMember_remapped.csv
SFMAPPINGFILE:CampaignMember_all.sdl

FARTMAPPING:%MAPPINGDIR%\genericmapping.config

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Do any remaps required on local file
# Uses FILENAME, FARTMAPPING
FARTMAP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database
EXPMAP:0