# TCP_bare.config

# Label for the job that will be displayed
JOBDESC:TCP_bare

#The object we're dealing with (as in the local database)
OBJECT:TCP__c

#The SF object we're dealing with (as in the SF org)
ENTITY:TCP__c

# The file where data exported from source org will be placed
FILENAME:%BASEFILEDIR%TCP__c\TCP_bare.csv

#Fields that will be extracted from source org and loaded into local database
FIELDSTRING:Id, OwnerId, Name, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById 

# The SOQL that will be used to run the extraction from source org to populate FILENAME (must contain the same fields, no more no less, as FIELDSTRING)
SOQL:Select Id, OwnerId, Name, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById FROM TCP__c 

# the fields (which must be present in FIELDSTRING and SOQL) that will be remapped to new IDs using the mapping table in the local database
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

# The file where remapped data exported from the local db will be placed to be loaded into target org
MAPPEDFILENAME:%BASEFILEDIR%TCP__c\TCP_bare_remapped.csv


# The mapping file required by the Apex Data Loader for insert/upsert operations
SFMAPPINGFILE:tcp_all.sdl

# The SOQL that will be used to extract mapping data (Id, OldId__c, a label field for convenience) from the target org
# E.g. the MAPPINGSOQL=SELECT Id, oldid__c, name FROM account would generate entries like oldid# 0012000001ALLIa Id# 0012000001xaCxb tablekey# account_Jack Papadakis DDS
# in the mapping table in the database. The name field (third item in SELECT list need not be unique, but must be provided)
MAPPINGSOQL:SELECT Id, oldid__c, name FROM TCP__c

# The file which will be populated from the target org using the MAPPINGSOQL
OLDNEWIDFILENAME:%BASEFILEDIR%TCP__c\tcp_mapping.csv

BULKAPI:true
BATCHSIZE:10000
#LIMIT:LIMIT 100

# any sql statement that needs to be run against records in the database to modify data
FIRSTSQL:update tcp__c set recordtypeid=(SELECT wellspectid FROM mapping_master where tablekey like 'recordtype_Stardard Target Call Plan') WHERE recordtypeid is null or recordtypeid ='';

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Do any additional SQLs required
DOFIRSTSQL:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database
EXPMAP:1