# TCP_all.config

# Label for the job that will be displayed
JOBDESC:TCP_all

#The object we're dealing with (as in the local database)
OBJECT:TCP__c

#The SF object we're dealing with (as in the SF org)
ENTITY:TCP__c

# The file where data exported from source org will be placed
FILENAME:%BASEFILEDIR%TCP__c\TCP_all.csv

#Fields that will be extracted from source org and loaded into local database
FIELDSTRING:Id, CQ1_Review_Approved__c, CQ1_Review_Comments__c, CQ2_Review_Approved__c, CQ2_Review_Comments__c, CQ3_Review_Approved__c, CQ3_Review_Comments__c, CQ4_Review_Approved__c, CQ4_Review_Comments__c, Close_Date__c, NPD_Average_Catheter_Usage_Per_CY__c, NPD_Catheter_ASP__c, NPD_Disease_Type__c, NPD_Estimate_CQ__c, NPD_Estimate_CY__c, TCP_Description__c, TCP_Obstacle_Status__c, TCP_Product_Area__c, TCP_Products_Detailed__c, TCP_Tactics__c, WHC_NPD_Estimate__c

# The SOQL that will be used to run the extraction from source org to populate FILENAME (must contain the same fields, no more no less, as FIELDSTRING)
SOQL:Select Id, CQ1_Review_Approved__c, CQ1_Review_Comments__c, CQ2_Review_Approved__c, CQ2_Review_Comments__c, CQ3_Review_Approved__c, CQ3_Review_Comments__c, CQ4_Review_Approved__c, CQ4_Review_Comments__c, Close_Date__c, NPD_Average_Catheter_Usage_Per_CY__c, NPD_Catheter_ASP__c, NPD_Disease_Type__c, NPD_Estimate_CQ__c, NPD_Estimate_CY__c, TCP_Description__c, TCP_Obstacle_Status__c, TCP_Product_Area__c, TCP_Products_Detailed__c, TCP_Tactics__c, WHC_NPD_Estimate__c FROM TCP__c  

# the fields (which must be present in FIELDSTRING and SOQL) that will be remapped to new IDs using the mapping table in the local database
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

# The file where remapped data exported from the local db will be placed to be loaded into target org
MAPPEDFILENAME:%BASEFILEDIR%TCP__c\TCP_all_remapped.csv


# The mapping file required by the Apex Data Loader for insert/upsert operations
SFMAPPINGFILE:TCP_all.sdl

# The SOQL that will be used to extract mapping data (Id, OldId__c, a label field for convenience) from the target org
# E.g. the MAPPINGSOQL=SELECT Id, oldid__c, name FROM account would generate entries like oldid# 0012000001ALLIa Id# 0012000001xaCxb tablekey# account_Jack Papadakis DDS
# in the mapping table in the database. The name field (third item in SELECT list need not be unique, but must be provided)
MAPPINGSOQL:SELECT Id, oldid__c, name FROM TCP__c

# The file which will be populated from the target org using the MAPPINGSOQL
OLDNEWIDFILENAME:%BASEFILEDIR%TCP__c\TCP_mapping.csv

BULKAPI:true
BATCHSIZE:10000
#LIMIT:LIMIT 100

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0
UPS:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0