# cases_bare.config

FILENAME:%BASEFILEDIR%case\case.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM case
OBJECT:case2
JOBDESC:Process case_bare
FIELDSTRING:id, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate,CAPA_Case_Number__c
SOQL:select id, ownerid, recordtypeid, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate,CAPA_Case_Number__c from case

UNLOADWHERE:where ownerid in (select wellspectid from mapping_master) and createdbyid in (select wellspectid from mapping_master) and lastmodifiedbyid in (select wellspectid from mapping_master) and recordtypeid in (select wellspectid from mapping_master)

OLDNEWIDFILENAME:%BASEFILEDIR%case\case_mapping.csv
ENTITY:case
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME:%BASEFILEDIR%case\case_remapped.csv
SFMAPPINGFILE:case_import_bare.sdl

BULKAPI:true
BATCHSIZE:10000
#LIMIT:LIMIT 100

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0