# cases_all.config

FILENAME:%BASEFILEDIR%case\case_all.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM case
OBJECT:case
JOBDESC:Process case_all
FIELDSTRING:
SOQL:select id, AccountId, Article_Number__c, Closing_Comment__c, ContactId, Country__c, CurrencyIsoCode, Description, Development_ID__c, Discovery_Stage__c, Effect_on_surgery_SP__c, External_Action_SP__c, Feedback_Category__c, Feedback_Channel__c, Feedback_Comment__c, Feedback_Reason__c, Hardware_Keyword_3_SP__c, Hardware_keyword_1_SP__c, Hardware_keyword_2_SP__c, Internal_Action_SP__c, Investigation_Keyword_1_SP__c, Investigation_Keyword_2_SP__c, Investigation_Keyword_3_SP__c, IsEscalated, Lot_Number__c, Order_ID_SP__c, Order_System__c, Origin, ParentId, Priority, Product_Area__c, Product_SP__c, Product_Used_SP__c, Product_Version__c, Product__c, Reason, Service_Type__c, Software_Keywords__c, Status, Subject, SuppliedCompany, SuppliedEmail, SuppliedName, SuppliedPhone, TrackWise_Comment__c, TrackWise_ID__c, Type from case




UNLOADWHERE:

OLDNEWIDFILENAME:%BASEFILEDIR%case\case_mapping.csv
ENTITY:case
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME:%BASEFILEDIR%case\case_remapped.csv
SFMAPPINGFILE:case_all.sdl

BULKAPI:true
BATCHSIZE:10000
#LIMIT:LIMIT 100

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0
UPS:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0