# Events_bare.config

FILENAME:%BASEFILEDIR%Event\Event.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM Event
OBJECT:Event
JOBDESC:Process Event_bare
FIELDSTRING:Id, ActivityDate, ActivityDateTime, DurationInMinutes, StartDateTime, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, OwnerId
FIELDSTRINGEXPORT:Id, ActivityDate, ActivityDateTime, DurationInMinutes, StartDateTime, CurrencyIsoCode, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, OwnerId, CAST(RecordTypeId AS varchar(18))
SOQL:SELECT Id, ActivityDate, ActivityDateTime, DurationInMinutes, StartDateTime, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, OwnerId FROM Event WHERE IsDeleted = false and IsAllDayEvent=false order by id


UNLOADWHERE:where createdbyid in (select wellspectid from mapping_master WHERE tablekey like 'User%%') and lastmodifiedbyid in (select wellspectid from mapping_master WHERE tablekey like 'User%%') and OwnerId in (select wellspectid from mapping_master WHERE tablekey like 'User%%')

OLDNEWIDFILENAME:%BASEFILEDIR%Event\Event_mapping.csv
ENTITY:Event
FIELDSTOREMAP:createdbyid LastModifiedById recordtypeid ownerid

MAPPEDFILENAME:%BASEFILEDIR%Event\Event_remapped.csv
SFMAPPINGFILE:Event.sdl

# The file where any mappings that need to be updated using FART reside
FARTMAPPING:%MAPPINGDIR%\genericmapping.config

BULKAPI:true
BATCHSIZE:10000
LIMIT:LIMIT 1000

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Do any remaps required on local file
# Uses FILENAME, FARTMAPPING
FARTMAP:0

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:1

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0