: Location_bare.config

FILENAME=%BASEFILEDIR%Location__c\location.csv
MAPPINGSOQL=SELECT Id, oldid__c, name FROM Location_c
OBJECT=Location__c
JOBDESC=Process Location_bare
FIELDSTRING=Id, Name, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById
SOQL=Select Id, Name, CurrencyIsoCode, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById FROM Location__c 

OLDNEWIDFILENAME=%BASEFILEDIR%Location__c\location_mapping.csv
ENTITY=Location__c
FIELDSTOREMAP=recordtypeid createdbyid lastmodifiedbyid

MAPPEDFILENAME=%BASEFILEDIR%Location__c\location_remapped.csv
SFMAPPINGFILE=Locations_import_all.sdl



: Export from source system
: Uses OBJECT, ENTITY, SOQL, FILENAME
: Generates/overwrites FILENAME using SOQL
EXP=1

: Truncate table in local database
: Uses OBJECT
TRUNC=1

: Load into table in local database
: Uses OBJECT, FIELDSTRING, FILENAME
: Reads FILENAME
LOADPGSQL=1

: Do any remaps required in local database
: Uses OBJECT, FIELDSTOREMAP
REMAP=1

: Unload from table in local database to file
: Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
: generates MAPPEDFILENAME
UNLOADPGSQL=1

: Import into target system
: Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
: Loads MAPPEDFILENAME
IMP=1

: Export mapping from target system into local database
: Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
: Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP=1