# FeedItems_bare.config

FILENAME:%BASEFILEDIR%FeedItem\FeedItem.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM FeedItem
OBJECT:FeedItem
JOBDESC:Process FeedItem_bare
FIELDSTRING:Body,CommentCount,ContentData,ContentDescription,ContentFileName,ContentSize,ContentType,CreatedById,CreatedDate,Id,InsertedById,LastModifiedDate,LikeCount,LinkUrl,ParentId,RelatedRecordId,SystemModstamp,Title,Type
SOQL:SELECT Body,CommentCount,ContentData,ContentDescription,ContentFileName,ContentSize,ContentType,CreatedById,CreatedDate,Id,InsertedById,LastModifiedDate,LikeCount,LinkUrl,ParentId,RelatedRecordId,SystemModstamp,Title,Type FROM FeedItem WHERE IsDeleted = false ORDER BY Id

UNLOADWHERE:where createdbyid in (select wellspectid from mapping_master) and insertedbyid in (select wellspectid from mapping_master)

OLDNEWIDFILENAME:%BASEFILEDIR%FeedItem\FeedItem_mapping.csv
ENTITY:FeedItem
FIELDSTOREMAP:createdbyid insertedbyid

MAPPEDFILENAME:%BASEFILEDIR%FeedItem\FeedItem_remapped.csv
SFMAPPINGFILE:FeedItem_import_bare.sdl

# The file where any mappings that need to be updated using FART reside
FARTMAPPING:%MAPPINGDIR%\genericmapping.config

BULKAPI:false
BATCHSIZE:50
LIMIT:LIMIT 100

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:0

# Do any remaps required on local file
# Uses FILENAME, FARTMAPPING
FARTMAP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0