# AccountFeeds_bare.config

FILENAME:%BASEFILEDIR%AccountFeed\AccountFeed.csv
MAPPINGSOQL:SELECT Id, oldid__c, name FROM AccountFeed
OBJECT:AccountFeed
JOBDESC:Process AccountFeed_bare
FIELDSTRING:Body, CommentCount, CreatedById, CreatedDate, Id, InsertedById, IsDeleted, LastModifiedDate, LikeCount, LinkUrl, ParentId, RelatedRecordId, Title, Type
SOQL:SELECT Body,CommentCount,ContentData,ContentDescription,ContentFileName,ContentSize,ContentType,CreatedById,CreatedDate,Id,InsertedById,IsDeleted,LastModifiedDate,LikeCount,LinkUrl,ParentId,RelatedRecordId,SystemModstamp,Title,Type FROM AccountFeed ORDER BY Id

UNLOADWHERE:where createdbyid in (select wellspectid from mapping_master)

OLDNEWIDFILENAME:%BASEFILEDIR%AccountFeed\AccountFeed_mapping.csv
ENTITY:AccountFeed
FIELDSTOREMAP:createdbyid

MAPPEDFILENAME:%BASEFILEDIR%AccountFeed\AccountFeed_remapped.csv
SFMAPPINGFILE:AccountFeed_import_bare.sdl

BULKAPI:false
BATCHSIZE:50
#LIMIT:LIMIT 100

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:0

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:0

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:0

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:0

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP:0