# Accounts_delete.config

DELETEFILENAME:%BASEFILEDIR%account\account_to_delete.csv
OBJECT:account
JOBDESC:Delete accounts
SOQL:select id from account
BULKAPI:false
BATCHSIZE:5000
ENTITY:account

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
