# Contacts_delete.config

DELETEFILENAME:%BASEFILEDIR%contact\contact_to_delete.csv
OBJECT:contact
JOBDESC:Delete contacts
SOQL:select id from contact where ispersonaccount=false
BULKAPI:true
BATCHSIZE:2000
ENTITY:Contact

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
