# Contacts_delete.config

DELETEFILENAME:%BASEFILEDIR%contact\cases_to_delete.csv
OBJECT:Network__c
JOBDESC:Delete networks
SOQL:select id from network__c
BULKAPI:false
BATCHSIZE:200
ENTITY:Network__c

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
