# campaigns_delete.config

DELETEFILENAME:%BASEFILEDIR%contact\campaigns_to_delete.csv
OBJECT:campaign
JOBDESC:Delete campaigns
SOQL:select id from campaign
BULKAPI:false
BATCHSIZE:200
ENTITY:campaign

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
