# Contacts_delete.config

DELETEFILENAME:%BASEFILEDIR%Location__c\Location__c_to_delete.csv
OBJECT:Location__c
JOBDESC:Delete Location__c
SOQL:select id from Location__c
BULKAPI:false
BATCHSIZE:200
ENTITY:Location__c

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
