# Contacts_delete.config

DELETEFILENAME:%BASEFILEDIR%Contact_Network_Member__c\Contact_Network_Member__c_to_delete.csv
OBJECT:Contact_Network_Member__c
JOBDESC:Delete Contact_Network_Member__c
SOQL:select id from Contact_Network_Member__c
BULKAPI:false
BATCHSIZE:10000
ENTITY:Contact_Network_Member__c

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
