# Contacts_delete.config

DELETEFILENAME:%BASEFILEDIR%Territory_Plan__c\Territory_Plan__c_to_delete.csv
OBJECT:Territory_Plan__c
JOBDESC:Delete Territory_Plan__c
SOQL:select id from Territory_Plan__c
BULKAPI:false
BATCHSIZE:10000
ENTITY:Territory_Plan__c

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
