# Contacts_delete.config

DELETEFILENAME:%BASEFILEDIR%TCP__c\TCP__c_to_delete.csv
OBJECT:TCP__c
JOBDESC:Delete TCP__c
SOQL:select id from TCP__c
BULKAPI:false
BATCHSIZE:200
ENTITY:TCP__c

SFMAPPINGFILE:delete.sdl



# Export from source system
# Uses OBJECT, ENTITY, SOQL, DELETEFILENAME
# Generates/overwrites DELETEFILENAME using SOQL
EXPFORDELETE:1

# delete from source system
# Uses OBJECT, ENTITY, DELETEFILENAME
# Deletes ids in DELETEFILENAME
DEL:1
