# Network_bare.config

# Label for the job that will be displayed
JOBDESC:Process Network_bare

#The object we're dealing with (as in the local database)
OBJECT:Network__c

#The SF object we're dealing with (as in the SF org)
ENTITY:Network__c

# The file where data exported from source org will be placed
FILENAME:%BASEFILEDIR%Network__c\Network_bare.csv

#Fields that will be extracted from source org and loaded into local database
FIELDSTRING:Contract_D_IT__c, Description__c, HQ_Total_Inv_already_provided_D_IT__c, HQ_Total_Investment_D_IT__c, Hub_Account__c, Hub_Contact__c, Local_Total_Inv_already_provided_D_IT__c, Local_Total_Investment_D_IT__c, Materials_HQ_D_IT__c, Materials_IT_D_IT__c, Network_Type__c, Product_Area__c, Study_start_year_D_IT__c, Study_status_D_IT__c, Study_type_D_IT__c, CreatedById, CreatedDate, CurrencyIsoCode, LastModifiedById, LastModifiedDate, Name, Id

# The SOQL that will be used to run the extraction from source org to populate FILENAME (must contain the same fields, no more no less, as FIELDSTRING)
SOQL:SELECT Contract_D_IT__c, Description__c, HQ_Total_Inv_already_provided_D_IT__c, HQ_Total_Investment_D_IT__c, Hub_Account__c, Hub_Contact__c, Local_Total_Inv_already_provided_D_IT__c, Local_Total_Investment_D_IT__c, Materials_HQ_D_IT__c, Materials_IT_D_IT__c, Network_Type__c, Product_Area__c, Study_start_year_D_IT__c, Study_status_D_IT__c, Study_type_D_IT__c, CreatedById, CreatedDate, CurrencyIsoCode, LastModifiedById, LastModifiedDate, Name, Id FROM Network__c WHERE Product_Area__c in ('Surgery','Urology')

# the fields (which must be present in FIELDSTRING and SOQL) that will be remapped to new IDs using the mapping table in the local database
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid 

# The file where remapped data exported from the local db will be placed to be loaded into target org
MAPPEDFILENAME:%BASEFILEDIR%Network__c\network_bare_remapped.csv


# The mapping file required by the Apex Data Loader for insert/upsert operations
SFMAPPINGFILE:network_all.sdl

# The SOQL that will be used to extract mapping data (Id, OldId__c, a label field for convenience) from the target org
# E.g. the MAPPINGSOQL:SELECT Id, oldid__c, name FROM account would generate entries like oldid# 0012000001ALLIa Id# 0012000001xaCxb tablekey# account_Jack Papadakis DDS
# in the mapping table in the database. The name field (third item in SELECT list need not be unique, but must be provided)
MAPPINGSOQL:SELECT Id, oldid__c, name FROM Network__c

# The file which will be populated from the target org using the MAPPINGSOQL
OLDNEWIDFILENAME:%BASEFILEDIR%Network__c\network_mapping.csv

# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
EXP:1

# Truncate table in local database
# Uses OBJECT
TRUNC:1

# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
LOADPGSQL:1

# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
REMAP:1

# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
UNLOADPGSQL:1

# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
IMP:0

# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database
EXPMAP:0