: Contact_Network_Member_bare.config

FILENAME=%BASEFILEDIR%contnetwmemb\6_contnetwmemb_extract.csv
MAPPINGSOQL=SELECT Id, oldid__c, name FROM Contact_Network_Member__c
OBJECT=contact_network_member__c
JOBDESC=Process Contact_Network_Member_bare
FIELDSTRING=Id, Name, CurrencyIsoCode, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById
SOQL=select Id, Name, CurrencyIsoCode, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById FROM Contact_Network_Member__c

OLDNEWIDFILENAME=%BASEFILEDIR%contnetwmemb\Contact_Network_Member_mapping.csv
ENTITY=Contact_Network_Member__c
FIELDSTOREMAP=createdbyid lastmodifiedbyid

MAPPEDFILENAME=%BASEFILEDIR%contnetwmemb\Contact_Network_Member_remapped.csv
SFMAPPINGFILE=Contact_Network_Member_import_all.sdl



: Export from source system
: Uses OBJECT, ENTITY, SOQL, FILENAME
: Generates/overwrites FILENAME using SOQL
EXP=1

: Truncate table in local database
: Uses OBJECT
TRUNC=1

: Load into table in local database
: Uses OBJECT, FIELDSTRING, FILENAME
: Reads FILENAME
LOADPGSQL=1

: Do any remaps required in local database
: Uses OBJECT, FIELDSTOREMAP
REMAP=1

: Unload from table in local database to file
: Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
: generates MAPPEDFILENAME
UNLOADPGSQL=1

: Import into target system
: Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
: Loads MAPPEDFILENAME
IMP=1

: Export mapping from target system into local database
: Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
: Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP=0