: Contacts_all.config

FILENAME=%BASEFILEDIR%contact\contact_all.csv
MAPPINGSOQL=SELECT Id, oldid__c, name FROM contact
OBJECT=contact
JOBDESC=Process contact_all
FIELDSTRING=id, __c, __c 
SOQL=select id __c, __c from contact limit 100

OLDNEWIDFILENAME=%BASEFILEDIR%contact\contact_mapping.csv
ENTITY=Contact
FIELDSTOREMAP=recordtypeid createdbyid lastmodifiedbyid ownerid

MAPPEDFILENAME=%BASEFILEDIR%contact\contact_remapped.csv

SFMAPPINGFILE=contact_import_all.sdl



: Export from source system
: Uses OBJECT, ENTITY, SOQL, FILENAME
: Generates/overwrites FILENAME using SOQL
EXP=1

: Truncate table in local database
: Uses OBJECT
TRUNC=0

: Load into table in local database
: Uses OBJECT, FIELDSTRING, FILENAME
: Reads FILENAME
LOADPGSQL=0

: Do any remaps required in local database
: Uses OBJECT, FIELDSTOREMAP
REMAP=0

: Unload from table in local database to file
: Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
: generates MAPPEDFILENAME
UNLOADPGSQL=0

: Import into target system
: Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
: Loads MAPPEDFILENAME
IMP=1

: Export mapping from target system into local database
: Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
: Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database

EXPMAP=0